@import "vars";
@import "vendor/reset";
//@import "mixins";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: $white;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a  {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


/* Blocks */
@import "blocks/container";
@import "blocks/header";
@import "blocks/btn";
@import "blocks/links";
@import "blocks/events";
@import "blocks/news";
@import "blocks/footer";

