.news {
    background-color: $iceCream;
    color: $black-text;
}

.news__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.news__left,
.news__right {
    width: 50%;

    @media(max-width: 1000px) {
        width: 100%;
    }
}

.news__right {
    @media(max-width: 1000px) {
        padding: 20px;
    }
}

.news__left {
    display: flex;
    flex-direction: column;

    @media(max-width: 1000px) {
        align-items: center;
    }
}

.news__ad {
    display: block;

    &-1 {
        margin-top: 75px;
        margin-bottom: 59px;
    }

    &-2 {
        margin-bottom: 85px;
    }

    @media(max-width: 1000px) {
        img {
            max-width: 100%;
            padding: 0 20px;
        }
    }
}

.news__title {
    margin-top: 75px;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;


    &-text {
        font-size: 30px;
        line-height: 1.3;
    }

    @media(max-width: 800px) {
        margin-top: 0;
    }
}

.news__links {
    a {
        max-width: 135px;
    }
}

.news__detailed-text {
    margin-right: 15px;
    color: $black;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.news__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @media(max-width: 500px) {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
}

.news__description {
    @media(max-width: 500px) {
        text-align: center;
    }
}

.news__img {
    display: block;
    margin-right: 30px;

    @media(max-width: 500px) {
        margin: 0 auto;
    }
}

.news__name {
    color: inherit;
}

.news__date {
    margin: 15px 0;

    font-size: 16px;
    line-height: 1.35;
    color: $red;
}
