<header class="header" id="header">
    <div class="header__nav">
        <div class="header__logo">
            <img src="assets/images/logo/logo-1.svg" alt="">
        </div>

        <div class="header__navbar" id="header__navbar">
            <a class="header__link" data-scroll="header" href="#">О комплексе</a>
            <a class="header__link" data-scroll="links"  href="#">О компании</a>
            <a class="header__link" data-scroll="events"  href="#">Мероприятия</a>
            <a class="header__link" data-scroll="news"  href="#">Новости</a>
            <a class="header__link" data-scroll="footer"  href="#">Контакты</a>
        </div><!-- ./header__navbar -->

        <div>
            <button class="header__burger" type="button" id="navToggle">
                <span class="header__burger-item">Menu</span>
            </button>
        </div>

        <div class="header__right">
           <a class="header__search" href="#">
                <img src="assets/images/icons/Search.svg" alt="">
           </a>
            <a class="header__language" href="#">
                <img class="header__globe" src="assets/images/icons/Globe.svg" alt="">
                <strong class="header__lang">English</strong>
            </a>
        </div><!-- ./header__right -->
    </div><!-- ./header__nav -->

    <div class="container">
        <div class="header__hero">
            <div class="header__about">
                <h1 class="header__title">ЭКСПОФОРУМ</h1>
                <div class="header__text">конгрессно-выставочный центр  Санкт-Петербурга</div>
                <a href="#" class="header__links">
                    <div class="header__links-text">О комплексе</div>
                    <div class="header__links-img">
                        <img src="assets/images/icons/Arrow.svg" alt="">
                    </div>
                </a>
            </div><!-- ./header__about -->

            <div class="header__info">
               <div class="header__wrapper">
                    <div class="header__block header__block-smaller header__block-blue">
                        <div class="header__block-text">Календарь мероприятий</div>
                        <a href="#" class="header__links">
                            <div class="header__links-text">Подробнее</div>
                            <div class="header__links-img">
                                <img src="assets/images/icons/Arrow.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="header__wrapper">
                    <div class="header__block header__block-smaller header__block-green">
                        <div class="header__block-text">Как добраться до Экспофорума</div>
                        <a href="#" class="header__links">
                            <div class="header__links-text">Подробнее</div>
                            <div class="header__links-img">
                                <img src="assets/images/icons/Arrow.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="header__wrapper">
                    <div class="header__block header__block-bigger header__block-yellow">
                        <div class="header__block-text">Онлайн-заявка  на организацию мероприятия</div>
                        <a href="#" class="header__links">
                            <div class="header__links-text">Подробнее</div>
                            <div class="header__links-img">
                                <img src="assets/images/icons/Arrow.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="header__wrapper">
                    <div class="header__block header__block-bigger header__block-red">
                        <div class="header__block-text">План и инфраструктура комплекса</div>
                        <a href="#" class="header__links">
                            <div class="header__links-text">Подробнее</div>
                            <div class="header__links-img">
                                <img src="assets/images/icons/Arrow.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div><!-- ./header__info -->
        </div><!-- ./header__hero -->
    </div><!-- ./container -->
</header><!--./header-->
